
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}



{% block page_content %}


<h2><strong>基于微信的智能寄存柜开发</strong></h2>


<div>
    <body>
 <br/>
<p style="font-size:140%">
摘要：寄存柜广泛应用于商场、图书馆、博物馆等公共场所，应用范围很大，但是近几年市面上并没有对其进行进一步的改进与开发，寄存柜停留在几年前的样式。近年来，随着互联网技术与微信平台的普及，本项目旨在结合微信公众号开发电子智能寄存柜，利用先进的互联网技术给用户带来更方便快捷的体验。
<strong>
    <br/><br/>
关键词：电子智能寄存柜 微信平台
<br/><br/>
内容概述：</strong>
</p>

<div style="font-size:140%">
<li >第1章，绪论。首先介绍了项目的背景及意义，对现有寄存柜的现状进行了介绍和分析，介绍了项目的具体工作和结构安排。</li>
<li>第2章，方案设计。对该智能寄存柜的指标要求进行了分析，选择编程软件。</li>
<li>第3章，详细设计。根据方案，选择部件的参数性能，设计程序控制寄存柜的电脑控制锁，完成编程。完成网站备案，搭建网站框架，将数据库与Eternet连接。建立微信公众号，将其与控制锁连接。根据流程图阐述工作原理。</li>
<li>第4章，电子寄存柜的组装，测试与评估。按照详细设计进行各部分工作的完成与整体组装调试。在完成各个部件的设计与组装后，对其进行测试，对预期的效果进行了验证。</li>
<li>第5章，项目总结。对项目的设计、组装、测试等工作进行了总结，之后对该项目的研究前景进行了展望。 </li>

</div>
    </body>
</div>

{% endblock %}